.gradient-border-btn {
    position: relative;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: 6px;
    color: #fff;
    background: transparent;
    border: none;
    z-index: 1;
}

.gradient-border-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px; 
    border-radius: 6px;
    background: linear-gradient(90deg, #867caf, #c31d1d, #c75d60);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    z-index: -1;
}


.gradient-border-btn:hover,
.gradient-border-btn:active,
.gradient-border-btn:focus {
    background: linear-gradient(90deg, #867caf, #c31d1d, #c75d60);
    color: white !important;
}